/* // Variables */
$rosaViejo: #C693A2;
$verdePastel: #8FB7AC;
$celesteRetro: #c7d9fb;
/* // Variables */

// .logoAlilo{
//     width: 4rem;
// }
.brandAlilo{
    // font-family: 'Hoam';
    font-family: 'Randomly Cute';
    color: $rosaViejo;
    font-size: 4rem;
    margin-bottom: 0;
}
