/* // Variables */
$rosaViejo: #C693A2;
$verdePastel: #8FB7AC;
$celesteRetro: #c7d9fb;
/* // Variables */

.brandAlilo{
    font-family: 'Randomly Cute';
    color: $rosaViejo;
    font-size: 4rem;
    margin-bottom: 0;
}
