nav.navbar{
    background-color: #f3eee3;
    div.container-fluid{
        a{
            text-decoration: none;
        }
        div#responsive-navbar-nav{
            
            div.navbar-nav{ // Home, Prod, AboutMe, FAQ, Form
                div.dropdawnContenedor{
                    div.dropdown-menu{
                //         display: flex;
                //         flex-direction: column;
                //         a{
                //             padding: 0 .5rem;
                //         }
                        a:hover{
                            background-color: #C693A2;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
}